.game-over {
  width: 100%;
  height: 100vh;
  justify-content: start;
  color: #223547;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;

  .game-over-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 412px; /* Taking into account header height */
    background-color: #223547;
    color: #ffffff;

    h2 {
      max-width: 320px;
      font-family: Helvetica;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0px;
      text-align: center;
      margin-top: -50px;
    }
  }
  .return-home {
    margin-top: -28px;

    button {
      color: #ffffff;
    }
  }
}
