.home {
  width: 100%;
  height: 100vh;
  justify-content: center;
  background: #223547;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    height: 462px;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    margin: auto;
    transition: transform 2s ease-in-out;
  }
  .logo:hover {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  h1 {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
